.sliderContainer {
  position: absolute;
  top: calc(100vh - 500px);
}

.slider {
  position: relative;
  white-space: nowrap;
  overflow: hidden; /* Ensure content doesn't overflow */
}

.slider p {
  position: relative;
  margin: 0;
  color: white;
  font-size: 230px;
  font-weight: 500;
  padding-right: 50px;
}

/* Position the second paragraph off-screen initially */
.slider p:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}